body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.padding-top {
    padding-top: 70px;
}


/* center search */

.global-input {
    text-align:center;
    padding:10px;
}
.global-input * {
    display:inline-block;
    margin-bottom:0;
}

.global-input .form-control {
    width:300px;
}

.global-input a {
    display:block;
    padding-top:10px;
}



@media (max-width:400px){
    .global-input {
        padding: 50px 0;
        text-align:center;
    }

    .global-input .form-control {
        width: 100% !important;
    }

}

.search-result-jumbo {
    padding: 5px 25px 5px 25px;
}

.edit-button {
    margin-left: 15px;
}

.edit-button-group {
    font-size: 20px;
    padding-bottom: 30px;
    color: #1a1a1a;
}

.edit-button-group a {
    color: #1a1a1a;
}

.editor-toolbar.fullscreen{
    z-index: 100000 !important;
}

.jumbotron.search-result-jumbo{
    padding-right: 10px;
}

.center-input{
    max-width: 400px;
}
